body {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;

}

.header {
    margin-top: 0;
    background: linear-gradient(#df1a1a 65%, rgb(34, 33, 33) 30%);
    width: 100vw;
    height: 172px;
    display: flex;
    flex-direction: column;
}

.title {
    background: linear-gradient(#ffffff 50%, #000000fa 80%);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    padding: 20px;
    position: absolute;
    left: 80px;
}

.black-header {
    width: 100vw;
    height: 70px;
    background-color: #131212;
}

.welcome-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-container p {
    font-size: 20px;
    font-weight: 700;
}

.title-welcome {
    font-size: 35px;
    margin: 0;
    color: #ce2a2a;
}

.form-welcome {
    display: flex;
    box-shadow: 5px 5px 5px #b8b6b6;
    width: max-content;
}

.input {
    padding: 20px;
    font-size: 20px;
    border: none;
}

.btn {
    padding: 20px;
    font-size: 20px;
    background-color: #ce2a2a;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #e92a2a;
    cursor: pointer;
    transition: 0.7s;
}

.subtitle-container {
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
}

.subtitle {
    color: #ce2a2a;
}

.pokedex-container {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.select-type {
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    background-color: #fff;
    box-shadow: 5px 5px 5px #b8b6b6;
    text-align: center;
}

.pagination-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 5px #b8b6b6;
    text-align: center;
    gap: 5px;
}

.select-pagination {
    font-size: 20px;
    width: 100px;
    padding: 20px 30px;
    border: none;
    background-color: #ce2a2a;
    color: #fff;
    box-shadow: 5px 5px 5px #b8b6b6;
    text-align: center;
}

.label-pagination {
    padding: 0 20px;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 10px solid;
    border-radius: 10px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.grass {
    border-color: #14cf81;
    color: #14cf81;
    background: linear-gradient(#14cf81 0%, #e3e63f 30%, #ffffff 30%, #ffffff 100%);
}

.normal {
    border-color: #7c654f;
    color: #7c654f;
    background: linear-gradient(#7c654f 0%, #e3e63f 30%, #ffffff 30%, #ffffff 100%);
}

.fighting {
    border-color: #615d5a;
    color: #615d5A;
    background: linear-gradient(#615d5a 0%, #8f914b 30%, #ffffff 30%, #ffffff 100%);
}

.poison {
    border-color: #943fe4;
    color: #943fe4;
    background: linear-gradient(#943fe4 0%, #e63fd8 30%, #ffffff 30%, #ffffff 100%);
}

.ground {
    border-color: #9ea753;
    color: #9ea753;
    background: linear-gradient(#9ea753 0%, #c4c726 30%, #ffffff 30%, #ffffff 100%);
}

.rock {
    border-color: #444343;
    color: #444343;
    background: linear-gradient(#444343 0%, #cecec8 30%, #ffffff 30%, #ffffff 100%);
}

.bug {
    border-color: #069106;
    color: #069106;
    background: linear-gradient(#069106 0%, #66e63f 30%, #ffffff 30%, #ffffff 100%);
}

.ghost {
    border-color: #6e0ea7;
    color: #6e0ea7;
    background: linear-gradient(#6e0ea7 0%, #6c4b8a 30%, #ffffff 30%, #ffffff 100%);
}

.steel {
    border-color: #e26a0e;
    color: #e26a0e;
    background: linear-gradient(#e26a0e 0%, #dac50c 30%, #ffffff 30%, #ffffff 100%);
}

.fire {
    border-color: #df4111;
    color: #df4111;
    background: linear-gradient(#df4111 0%, #e2b63b 30%, #ffffff 30%, #ffffff 100%);
}

.water {
    border-color: #3fb5e4;
    color: #3fb5e4;
    background: linear-gradient(#3fb5e4 0%, #6e8fad 30%, #ffffff 30%, #ffffff 100%);
}

.electric {
    border-color: #2110b3;
    color: #2110b3;
    background: linear-gradient(#2110b3 0%, #3fbfe6 30%, #ffffff 30%, #ffffff 100%);
}

.psychic {
    border-color: #cf14a7;
    color: #cf14a7;
    background: linear-gradient(#cf14a7 0%, #a15e9c 30%, #ffffff 30%, #ffffff 100%);
}

.ice {
    border-color: #3fe4e4;
    color: #3fe4e4;
    background: linear-gradient(#3fe4e4 0%, #5ea192 30%, #ffffff 30%, #ffffff 100%);
}

.dragon {
    border-color: #cf1111;
    color: #cf1111;
    background: linear-gradient(#cf1111 0%, #d17a09 30%, #ffffff 30%, #ffffff 100%);
}

.dark {
    border-color: #292929;
    color: #292929;
    background: linear-gradient(#292929 0%, #a09fa0 30%, #ffffff 30%, #ffffff 100%);
}

.fairy {
    border-color: #da89dd;
    color: #da89dd;
    background: linear-gradient(#da89dd 0%, #a15e9c 30%, #ffffff 30%, #ffffff 100%);
}

.img-card {
    width: 150px;
    margin: 0;
}

.type-container {
    display: flex;
    margin: 0;
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #272626;
}

.stats-container {
    display: grid;
    width: 100%;
    height: 45%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40% 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-top: 2px solid #a09d9d9a;
}

.name-pokemon {
    font-size: 25px;
    margin: 0;
}

.info-principal-pokemon {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
    text-align: center;
}

.type-p {
    font-size: 13px;
    margin: 0;
    color: #302f2f98;
    position: relative;
    top: -13px;
}

.stat-name {
    font-size: 13px;
    color: #272626;
}

.stat-number {
    font-size: 15px;
    position: relative;
    top: -10px;
}

.type-description {
    font-size: 15px;
    margin-top: 0;
}

.pokemon-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.poke-info-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.poke-info-principal {
    width: 80%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.img-container {
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-info {
    width: 350px;
    position: relative;
    top: -70%;
}

.id-info {
    font-size: 35px;
    font-weight: 600;
    border: 1px solid #2727279d;
    padding: 10px;
    border-radius: 5px;
}

.name-info {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.secundary-container-info {
    display: flex;
    gap: 20px;
    color: #272626;
}

.date-info {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.date-container-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle-date-info {
    font-weight: 300;
}

.container-info-secundary {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-info-secundary-principal {
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
}

.container-infomation-secundary {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 0;
}

.type-info {
    box-sizing: border-box;
    width: max-content;
    background-color: #d8d2d2;
    padding: 10px 30px;
    border-radius: 5px;
    color: #272626;
    box-shadow: 3px 3px 10px 3px #949191;
}

.grass-id {
    background: linear-gradient(#14cf81, #c7e63f);
    color: #fff;
}

.normal-id {
    color: #fff;
    background: linear-gradient(#7c654f 0%, #e3e63f 30%);
}

.fighting-id {
    color: #fff;
    background: linear-gradient(#615d5a 0%, #8f914b 30%);
}

.poison-id {
    color: #fff;
    background: linear-gradient(#943fe4 0%, #e63fd8 30%);
}

.ground-id {
    color: #fff;
    background: linear-gradient(#9ea753 0%, #c4c726 30%);
}

.rock-id {
    color: #fff;
    background: linear-gradient(#444343 0%, #cecec8 30%);
}

.bug-id {
    color: #fff;
    background: linear-gradient(#069106 0%, #66e63f 30%);
}

.ghost-id {
    color: #fff;
    background: linear-gradient(#6e0ea7 0%, #6c4b8a 30%);
}

.steel-id {
    color: #fff;
    background: linear-gradient(#e26a0e 0%, #dac50c 30%);
}

.fire-id {
    color: #fff;
    background: linear-gradient(#df4111 0%, #e2b63b 30%);
}

.water-id {
    color: #fff;
    background: linear-gradient(#3fb5e4 0%, #6e8fad 30%);
}

.electric-id {
    color: #fff;
    background: linear-gradient(#2110b3 0%, #3fbfe6 30%);
}

.psychic-id {
    color: #fff;
    background: linear-gradient(#cf14a7 0%, #a15e9c 30%);
}

.ice-id {
    color: #fff;
    background: linear-gradient(#3fe4e4 0%, #5ea192 30%);
}

.dragon-id {
    color: #fff;
    background: linear-gradient(#cf1111 0%, #d17a09 30%);
}

.dark-id {
    color: #fff;
    background: linear-gradient(#292929 0%, #a09fa0 30%);
}

.fairy-id {
    color: #fff;
    background: linear-gradient(#da89dd 0%, #a15e9c 30%);
}

.flying-id {
    color: #fff;
    background: linear-gradient(#8a1125 0%, #b6586d 30%);
}

.subtitle-info-secundary {
    margin: 0;
    font-weight: 550;
    color: #272626;
}

.subtitle-stat {
    font-size: 35px;
    margin-left: 30px;
    color: #272626;
}

.info-stat {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.stat-description {
    font-size: 23px;
    justify-content: center;
    align-items: center;
}

.number-stat {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.stat-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 60px;
    color: #272626;
}

.stat-info-container {
    padding: 0 30px;
}

.stat-info-percentage-container {
    width: 100%;
    height: 30px;
    background-color: #e9e9e9d5;
    border-radius: 5px;
}

.stat-info-percentage {
    width: 50%;
    height: 30px;
    background: linear-gradient(to right, #f7e43be0, rgb(211, 128, 61));
    border-radius: 5px;
}

.movements-containers {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    color: #272626;
}

.movement-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 30px 30px;
    box-sizing: border-box;
}

.movement {
    background-color: #d8d6d6;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #949191;
    font-size: 20px;
    color: #272626;
}

.btn-poke-info {
    position: relative;
    right: -30%;
}

.pagination-prev-next {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e92a2a;
    border-radius: 8px;
}

.pagination-number-container {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.pagination-number {
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.page-active {
    background-color: #e92a2a;
    color: #fff;
}

.pagination-container-1 {
    background-color: #f0f0f0;
    box-shadow: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;    
    text-align: center;
    gap: 5px;
}
.img-header {
    width: 431px;
    height: 76px;
    position: absolute;
    background-image: url(./components/image12.png);
    background-size: cover;
    background-repeat: repeat;
    border: none;
    left: 133px;
    top: 47px;
}

.pokeball {
    background-image: url(./components/Ellipse\ 4.png);
    box-sizing: border-box;
    position: absolute;
    width: 63px;
    height: 63px;
    left: 1265px;
    top: 105px;
    background: #212121;
    border: 12px solid #000000;
    z-index: 1;
    border-radius: 50%;
}

.pokeball-1 {
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 117px;
    left: 1238px;
    top: 78px;
    background: #FFFFFF;
    border: 12px solid #000000;
    border-radius: 50%;
}
.loader{
    background-image: url(https://cdn.dribbble.com/users/1081076/screenshots/2832850/pokemongo.gif);
    width: 55vw;
    height: 70vh;
    border-radius: 50px;
    position: relative;
    left: 20%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
}
.err404-container{
    padding: 15px;
    text-align: center;
}
@media (max-width: 1000px) {
    .input {
        font-size: 13px;
    }

    .btn {
        font-size: 13px;
    }

    .subtitle-container {
        font-size: 15px;
        flex-direction: column;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .form-welcome {
        box-sizing: border-box;
    }

    .pokedex-container {
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .select-pagination {
        font-size: 13px;
        width: 50px;
    }

    .label-pagination {
        font-size: 13px;
    }

    .pagination-container {
        width: 320px;
    }

    .pagination-prev-next {
        font-size: 20px;
        width: 30px;
    }

    .pagination-number-container {
        gap: 20px;
    }

    .pagination-number {
        font-size: 20px;
        width: 30px;
    }

    .container-info-secundary-principal {
        flex-direction: column;
    }

    .container-infomation-secundary {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-info {
        width: 200px;
        top: -20%;
    }

    .subtitle-stat {
        font-size: 25px;
        text-align: center;
        margin: 0;
        padding: 10px;
        color: #3fe4bb;
    }
    .img-header {
        width: 215px;
        height: 38px;
        position: absolute;
        background-image: url(./components/image12.png);
        background-size: cover;
        background-repeat: repeat;
        border: none;
        right: 25px;
    }
    .pokeball {
        display: none;
    }
    
    .pokeball-1 {
        display: none;
    }
    .loader{
        background-image: url(https://cdn.dribbble.com/users/1081076/screenshots/2832850/pokemongo.gif);
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
    }
    .loader-container{
        justify-content: center;
        position: relative;
        top: 50px;
        right: 50px;
        align-items: center;
        text-align: center;
    }
}


